#MenuBar {

}

#anchorMain {
}

#gridContainer {
    -fx-padding: 2 2 2 2;
}

#MenuGame {
    -fx-pref-width:70;
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    -fx-padding: 5 5 5 20;
    -fx-background-image: url('images/GameIcon.png');
}

#MenuHelp {
    -fx-pref-width:70;
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    -fx-padding: 5 5 5 25;
    -fx-background-image: url('images/HelpIcon.png');
}

#gridPlateau {
    -fx-padding: 5 5 5 5;
    -fx-background-color: #ffffff;
    -fx-pref-width:900;
    -fx-pref-height:900;
}

#gridPlateau .children {
    -fx-padding: 0 0 0 0;
}

#scrollPlateau {
    -fx-padding: 10 10 10 10
}

#mainMenu {
    -fx-background-image: url("images/Font.jpg");
    -fx-background-size: 1500 950;
   /* -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); */
}

#perso1 {
    -fx-background-image: url("images/perso1.png");
    -fx-background-size: 100%;
    -fx-background-position: center center;
}

#perso2 {
    -fx-background-image: url("images/perso2.png");
    -fx-background-size: 100%;
    -fx-background-position: center center;
}

#perso3 {
    -fx-background-image: url("images/perso3.png");
    -fx-background-size: 100%;
    -fx-background-position: center center;
}

#perso4 {
    -fx-background-image: url("images/perso4.png");
    -fx-background-size: 100%;
    -fx-background-position: center center;
}

.SanteProgressBar  {
    -fx-accent: #28d628;
    -fx-pref-width: 200;
}
.ArmureProgressBar {
    -fx-accent: #20aeea;
    -fx-pref-width: 200;
}

